$def with ()
$var jsfiles: ajaxdropdowns.js
$var cssfiles:

<main role="main" class="container">
    <div class="row">
        <p>On initial load, this page has static content defined in the <strong>Countries</strong> picker.<br>
        Selecting a country will perform three ajax calls:</p>
        <ul class="list-group">
            <li class="list-group-item"><strong>Regions</strong> picker is populated using <code>return json.dumps()</code></li>
            <li class="list-group-item"><strong>Regions 2</strong> picker is populated using <code>return "&lt;html&gt;...&lt;&sol;html&gt;"</code></li>
            <li class="list-group-item">A generic message is returned from the server for example, <code>datetime()</code></li>
        </ul>
    </div><!-- /.row -->

    <div class="row">
        <div class="form-group">
            <label for="countries">Countries</label>
            <select class="form-control" id="countries">
                <option value="" selected="selected">Choose</option>
                <option value="Canada">Canada</option>
                <option value="USA">USA</option>
            </select>
        </div>
        <div class="form-group">
            <label for="regions">Regions</label>
            <select class="form-control" id="regions">
                <option value="" selected="selected">Choose</option>
            </select>
        </div>
        <div class="form-group">
            <label for="regions2">Regions 2</label>
            <select class="form-control" id="regions2">
                <option value="" selected="selected">Choose</option>
            </select>
        </div>
    </div><!-- /.row -->
</main><!-- /.container -->
